<nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <a class="navbar-brand" href="#">AppBancoImobiliario</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar" data-toggle="collapse">
      <ul class="navbar-nav">
        <li routerLink="home" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" >
            <span>Home</span>
        </li>
        <li routerLink="extrato" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <span>Extrato</span>
        </li>
        <li routerLink="transferencia" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <span>Transferir</span>
        </li>   
        <li routerLink="" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
            <span>Sair</span>
        </li>    
      </ul>
    </div>  
  </nav>
