body{
    background-color: rgb(68, 68, 122);
    color: rgb(240, 240, 240);
}

h1, h6{
    margin-top: 20px;
}

hr{
    background-color: rgb(240, 240, 240);
}

#success-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
    display: none;
    z-index: 9999;
}

.msg-success{
    background-color: green;
}

.msg-error{
    background-color: red;
}
  