<div class="row">
    <div class="col-sm-3">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h5>Saldo</h5>
                <span>R$1.000,00</span>
            </div>
          </div>
    </div>
    <div class="col-sm-9">
        <p>Bem-vindo ao nosso aplicativo de substituição de notas para o Banco Imobiliário! 
            Agora você pode gerenciar suas finanças e propriedades com facilidade e conveniência diretamente do seu celular. Esqueça as notas de papel e experimente a praticidade de controlar suas transações financeiras e propriedades de forma eletrônica. Com nosso aplicativo, você terá uma visão clara do seu patrimônio e poderá tomar decisões mais informadas durante o jogo. 
            Comece a jogar de forma inteligente!</p>
    </div>
</div>