.sp-alert {
    position: fixed;
    transform: translateY(-50%);
    padding: 15px;
    top: 50px;
    color: white;
    z-index: 9999;
    transition: all 0.5s ease-out;
    overflow: hidden;
    border-radius: 10px;
    right: -100%;
  }

  .sp-alert-success {
    background-color: #28a745;
  }
  .sp-alert-error {
    background-color: #a72828;
  }
