<div class="barra-top">
    AppBancoImobiliario
</div>
<div class="container">
<div class="row">
    <div class="col">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h5>Saldo</h5>
                <span>R$1.000,00</span>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h5>Cheque especial</h5>
                <span>R$0,00</span>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h5>Fatura do cartão</h5>
                <span>R$204,30</span>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h5>Saldo calculado</h5>
                <span>R$796,00</span>
            </div>
          </div>
    </div>
</div>
</div>