/* You can add global styles to this file, and also import other style files */
.container {
    margin-top: 20px;
}

p{
    text-align: justify;
}

body {
    background: linear-gradient(to left top, rgb(220, 220, 220), white);
    background-attachment: fixed; /*edit*/
}